# This is Git's per-user configuration file.
[core]
	excludesfile = $HOME/.gitignore_global
# Please adapt and uncomment the following lines:
#	user = alien
#	email = alien@alien.obszczymucha

[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  slc = "!git show --name-only -1 --oneline | cat"

[giggle]
	main-window-maximized = false
	main-window-geometry = 1095x640+2408+182
	main-window-view = HistoryView
	history-view-vpane-position = 292
[user]
	email = obszczymucha@gmail.com
	name = Obszczymucha
	signingkey = 56DEF1464CD5D9EF4FD3FD9BDC96D1088298C2C4
[init]
	defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
